{{define "head"}}
  <title>KTB</title>
  <meta name="robots" content="NOINDEX">
{{end}}

{{define "body"}}
  <div class="ui page grid segment">
    <div class="row">
      <div class="column">
        <a href="/team/add">Add Team</a>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned header">
          Teams
        </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ten wide column">
        <ul>
          {{range .Teams}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
{{end}}
