
{{define "nav"}}
  <div class="ui inverted page grid segment">
    <div class="column">
      <div class="ui inverted secondary pointing menu">
        <div class="ui item dropdown link">
          Kiva Team Bootstrapper
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/">Home</a>
            <a class="item">Popular</a>
            <a class="item">Recent</a>
            <a class="item" href="/team/add">Add Team</a>
            </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
